################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/
/.vs/slnx.sqlite
/.vs/urakobzar.github.io/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/urakobzar.github.io/v17/DocumentLayout.json
/.vs/urakobzar.github.io/v17/.wsuo
