.header {
    position: relative;
    height: 60px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    background-color: #3C4140;
    padding: 0 15px;
}

.header:before {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 100%;
    height: 6px;
    background-repeat: repeat no-repeat;
}

.header-brand {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}

.header-brand span {
    color: #85BD71;
}

.header-navbar-link {
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    margin-right: 20px;
    display: inline-block;
    color: #fff;
    transition: color 200ms ease-in-out;
}

.header-navbar-link:hover {
    color: #85BD71;
}

@media (max-width: 768px) {
    .header-navbar {
        text-align: right;
    }
}